
// Basic button styling
button {
	background-color: $buttonPrimary-color;
	padding: .25rem; // With the 8pt (16pt) this should be 4px
	box-shadow: 0px 0px 2px $button-shadow;

	@media screen (min-width: $desktop){
		padding: .5rem;

		&:hover {
			background-color: $buttonPrimary-color_hover;
      box-shadow: 0px 2px 5px $button-shadow_hover;
		}
	}
}

// Base button mixin
  // The base of buttons are defined in a mixin.
  // Please always use this mixin as a component,
  // and extend the mixin if needed. But anywhere else.
@mixin button($button-color: #B8B8B8, $button-color_hover: #D1D1D1, $dropshadow, $width: null){
	background-color: $buttonBase-color;
	padding: .25rem; // With the 8pt (16pt) this should be 4px
	box-shadow: 0px 0px 2px $dropshadow;

	// button width
	@if $width == full-width {
		width: 100%;
	} @else {
		width: auto;
	}

  // Alignment
    // The alignment of content inside the button
    // is always centered, unless specified as 'left'
	@if $alignment == left {
		text-align: left;
	} @else {
		text-align: center;
	}

	@media screen (min-width: $desktop){
		padding: .5rem;

		&:hover {
			background-color: $button-color_hover;
			box-shadow: 0px 2px 5px $dropshadow;
		}
	}
}


.btn-approved {

}
